*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#0a0a0a;
    color:white;
}

/* HEADER */

header{
    background:#111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo h1{
    color:#FFD700;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#FFD700;
}

/* HERO */

.hero{
    height:70vh;
    background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url("imagenes/showroom.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h2{
    font-size:60px;
    color:#FFD700;
}

.hero p{
    font-size:20px;
    margin-top:15px;
}

/* HISTORIA */

.historia{
    padding:80px 10%;
}

.historia h2{
    color:#FFD700;
    margin-bottom:25px;
    font-size:40px;
}

.historia p{
    line-height:1.8;
    margin-bottom:20px;
}

/* MISION Y VISION */

.mision-vision{
    padding:80px 10%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:#111;
    border:2px solid #FFD700;
    padding:30px;
    border-radius:15px;
}

.card h3{
    color:#FFD700;
    margin-bottom:15px;
}

/* VALORES */

.valores{
    padding:80px 10%;
    text-align:center;
}

.valores h2{
    color:#FFD700;
    font-size:40px;
    margin-bottom:40px;
}

.valores-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.valor{
    background:#111;
    padding:25px;
    border-radius:15px;
}

.valor h3{
    color:#FFD700;
    margin-bottom:10px;
}

/* ESTADISTICAS */

.estadisticas{
    background:#111;
    padding:70px 10%;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    text-align:center;
    gap:30px;
}

.stat h2{
    color:#FFD700;
    font-size:50px;
}

.stat p{
    margin-top:10px;
}

/* FOOTER */

footer{
    text-align:center;
    padding:40px;
    background:#000;
}

footer h3{
    color:#FFD700;
    margin-bottom:10px;
}